body{
    margin: 0;
    padding: 0;
    background-image: url('/img/main-img4.jpg');
    background-position: 100% 60%;
    background-size: 130%;
}

.nav{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    border: solid 1px #939393;
}

img{
    width: 50px;
}

.nav img{
    margin-right: auto;
    margin-left: 10px;
}

.links{
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.links a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

h2{
    margin-top: 25px;
}

.con{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#form{
    width: 30%;
    height: 320px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 60px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    border: solid 1px black;
    margin-bottom: 80px;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}

input{
    color: black;
    border: solid 1px black;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

input::placeholder{
    color: black;
}

input[type="submit"]{
    width: 120px;
    height: 25px;
    color: white;
    background-color: black;

}

#message{
    padding: 30px;
    border: 1px solid black;
}

#message::placeholder{
    text-align: center;
}

a{
    color: black;
    font-size: 15px;
}

.p0{
    font-size: small;
    font-weight: bold;
}

.footer{
    background-color: white;
    width: 100%;
    height: 150px;
    bottom: 0;
    border: none;
    border-top: 1px solid black;
}
.foot1{
    display: flex;
    justify-content: center;
}
.foot2{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p1,.p2,.p3{
    padding: 5px;
    margin: 10px;
}

.foot3{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .nav {
      height: 40px;
    }
    img {
      width: 40px;
    }
    .nav img {
      margin-left: 5px;
    }
    .links {
      padding: 5px;
    }
    .links a {
      padding: 5px;
    }
<<<<<<< HEAD

=======
    h2 {
        margin-top: 15px;
        }

        .con {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        }

        #form {
        width: 80%;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        }

        input {
        width: 80%;
        margin-top: 10px;
        }

        input[type="submit"] {
        width: 100%;
        height: auto;
        }

        #message {
        padding: 10px;
        }

        .p0 {
        font-size: x-small;
        }
>>>>>>> 47afd07108365d7cfe10d0323ef819b3e58136cd
    .footer {
      height: 100px;
    }
    .p1,
    .p2,
    .p3 {
      padding: 2px;
      margin: 5px;
    }
}
<<<<<<< HEAD

@media screen and (max-width: 320px) {
    .nav {
        height: 40px;
        padding: 5px;
      }
      .nav img {
        width: 20px;
        margin-left: 5px;
      }
      .links {
        font-size: 10px;
        padding: 5px;
      }
=======
/* Media query para pantallas de hasta 468px */
@media screen and (max-width: 320px) {
    .nav {
      height: 40px;
    }
    .nav img {
      display: none;
    }
    .links {
        padding: 5px;
    }
    .links a{
        font-size: 10px;
    }
>>>>>>> 47afd07108365d7cfe10d0323ef819b3e58136cd

    .p1, .p2, .p3 {
      font-size: 12px;
      padding: 3px;
      margin: 5px;
    }

     .footer {
<<<<<<< HEAD
        height: auto;
=======
    height: auto;
>>>>>>> 47afd07108365d7cfe10d0323ef819b3e58136cd
    }

  .foot1,
  .foot2,
  .foot3 {
    font-size: 10px;
    text-align: center;
  }

  .foot2 {
    margin-top: 5px;
  }

  .foot2 p,
  .foot3 p {
    margin: 3px;
  }
<<<<<<< HEAD
  }
=======
}
>>>>>>> 47afd07108365d7cfe10d0323ef819b3e58136cd
