body{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    border: solid 1px #939393;
}

img{
    width: 50px;
}

.nav img{
    margin-right: auto;
    margin-left: 10px;
}

.links{
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.links a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.vol{
    display: flex;
}

.volante{
    width: 300px;
}

#volante{
    width: 170px;
    margin: 20px;
    margin-left: 100px;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 41% 100%, 0 64%);

}

#p1{
    width: 400px;
    margin-left: 100px;
    margin-top: 40px;
}


.for{
    display: flex;
    margin-top: 30px;
}

.ford{
    width: 300px;
    margin-left: 20px;
}

#ford{
    width: 350px;
    margin: 20px;
    clip-path: polygon(0% 0%, 100% 0, 100% 71%, 60% 100%, 0 100%);
}

#p2{
    width: 500px;
    margin-left: 100px;
    margin-top: 80px;
}

.asien{
    display: flex;
    margin-top: 30px;
}

.asiento{
    width: 300px;
    margin-left: 20px;
}

#asiento{
    width: 250px;
    margin: 20px;
    margin-left: 80px;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 31% 100%, 0 59%);
}

#p3{
    width: 450px;
    margin-left: 100px;
    margin-top: 50px;
}

.gwa{
    display: flex;
    margin-top: 30px;
}

.gwagon{
    width: 300px;
    margin-left: 20px;
}

#gwagon{
    width: 350px;
    margin: 20px;
    margin-left: 80px;
    clip-path: polygon(65% 0, 100% 37%, 100% 100%, 0 100%, 0 0);
}

#p4{
    width: 450px;
    margin-left: 80px;
    margin-top: 70px;
}

.footer{
    background-color: white;
    width: 100%;
    height: 150px;
    bottom: 0;
    border: none;
    border-top: 1px solid black;
}
.foot1{
    display: flex;
    justify-content: center;
}
.foot2{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p1,.p2,.p3{
    padding: 5px;
    margin: 10px;
}

.foot3{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
