body{
    margin: 0;
    padding: 0;
    background-image: url('/img/main-img4.jpg');
    background-position: 100% 60%;
    background-size: 130%;
}

.nav {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #939393;
    }

    img {
    width: 50px;
    }

    .nav img {
    margin-right: auto;
    margin-left: 10px;
    }

    .links {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    }

    .links a {
    padding: 10px;
    text-decoration: none;
    color: black;
    position: relative;
    }

    .links a:hover::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    }

.sell{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

form{
    background-color: #EEEEEE;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 250px;
    margin-top: 50px;
}

#formulario{
    display: flex;
}

form label{
    margin-left: 30px;
}

form input{
    border-radius: 7px;
    border: 1px solid black;
    width: 150px;
    height: 23px;
    margin-left: 30px;
}

.model{
    margin-top: 20px;
}


.f1{
    margin-top: 10px;
}

.f2{
    margin-left: 80px;
    margin-top: 10px;
}

.kilometer{
    margin-top: 20px;
}


.year{
    margin-top: 20px;
}

.addimage{
    margin-top: 35px;
}

.addimage label{
    border: solid 1px black;
}

.image {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.image + label {
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: white;
    width: 150px;
    height: 23px;
    padding: 5px 10px;
    border-radius: 10px;
}

.image + label {
	cursor: pointer;
}

.btnsell{
    display: flex;
    justify-content: end;
}

#sell{
    width: 110px;
    height: 40px;
    background-color: #374151;
    color: white;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    margin-top: 10px;
}

#sell:hover{
    cursor: pointer;
}

.footer{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 150px;
    border: none;
    border-top: 1px solid black;
}

.foot1{
    display: flex;
    justify-content: center;
}

.foot2{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p1,.p2,.p3{
    padding: 5px;
    margin: 10px;
}

.foot3{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .nav {
      height: 40px;
    }
    img {
      width: 40px;
    }
    .nav img {
      margin-left: 5px;
    }
    .links {
      padding: 5px;
    }
    .links a {
      padding: 5px;
    }
    .img {
        margin: 0;
        width: 40%;
        height: 80px;
        margin-left: 10px;
        margin-right: 3px;
        margin-top: 20px;
      }

      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 10px;
      }

      input, select {
        width: 100%;
      }

      .boton {
        margin-left: 0;
      }

      #a1 {
        padding: 10px;
        font-size: 14px;
      }

      #p1 {
        margin-top: 30px;

      }
    .footer {
      height: 100px;
    }
    .p1,
    .p2,
    .p3 {
      padding: 2px;
      margin: 5px;
    }
}
/* Media query para pantallas de hasta 468px */
@media screen and (max-width: 320px) {
    .nav {
      height: 40px;
    }
    .nav img {
      display: none;
    }
    .links {
        padding: 5px;
    }
    .links a{
        font-size: 10px;
    }
    .img {
        margin-top: 10px;
      }

      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 10px;
      }

      input, select {
        width: 80%;
        font-size: 10px;
      }

      .boton {
        margin-top: 10px;
        margin-left: 0;
      }

      #a1 {
        padding: 10px;
        font-size: 12px;
      }

      #p1 {
        font-size: 14px;
        margin-top: 20px;
        width: 40%;
      }
    .p1, .p2, .p3 {
      font-size: 12px;
      padding: 3px;
      margin: 5px;
    }

     .footer {
    height: auto;
    }

  .foot1,
  .foot2,
  .foot3 {
    font-size: 10px;
    text-align: center;
  }

  .foot2 {
    margin-top: 5px;
  }

  .foot2 p,
  .foot3 p {
    margin: 3px;
  }
}
